@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1653576758381') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-laba:before {
  content: "\f01f4";
}

.icon-bofang:before {
  content: "\e87c";
}

.icon-liebiao_o:before {
  content: "\eb7c";
}

.icon-shangyishou:before {
  content: "\e603";
}

.icon-xiayishou:before {
  content: "\e602";
}

.icon-24gl-repeat2:before {
  content: "\ea75";
}

.icon-24gf-pause2:before {
  content: "\ea81";
}

.icon-aixin:before {
  content: "\e8ab";
}

